html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p {
    margin: 0
}

html,
body {
    margin: 0;
    padding: 0;
    /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #212529;
}

.Layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.Layout-body {
    flex: 1 0;
    background: #563983;
    padding-top:6rem;
}

.Layout-children {
    position: relative;
    margin: 30px auto;
    border-radius: 3px;
    line-height: 2;
    padding: 10px;
}

.body-render {
    max-width:980px;
    margin:0 auto;
    background:#ffffff;
    padding:20px 100px;
}

.body-render table {
    table-layout: fixed;
    width: 610px;
    border: 1px solid #dddddd;
}

.body-render table td {
    word-wrap: break-word;
    workd-break: break-all;
}

.body-render a {
    color: #36484E;
}

.body-render p {
    font-size: 16px;
    font-family: SourceSansPro-Regular, sans-serif;
    font-weight: 400;
    color: #2B4045;
}

.body-render h2 {
    font-family: SourceSansPro-Bold, sans-serif;
    font-size: 28px;
    color: #2B4045;
    line-height: 24px;
    font-weight: 600;
}

.body-render h3 {
    font-family: SourceSansPro-Semibold, san-serif;
    font-size: 20px;
    color: #2B4045;
    line-height: 24px;
    font-weight: 600;
}

.body-render strong {
    font-family: SourceSansPro-Semibold, sans-serif;
    font-weight: 700;
}

.body-render pre {
    overflow: auto;
}

.body-render blockquote {
    background: rgba(233, 237, 239, 1);
    border-radius: 0.19rem;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding: 10px 20px;
}

.body-render img {
    max-width: 620px;
    display: block;
    margin: 5px auto;
}

blockquote p {
    margin: 0 !important;
}

.body-render p,
.body-render ul,
.body-render ol {
    margin-bottom: 20px;
}

.Layout hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 40px;
}

.Layout-children-title {
    font-size: 2.63rem;
    font-family: SourceSansPro-ExtraLight;
    font-weight: 400;
    color: rgba(43, 64, 69, 1);
    line-height: 3.25rem;
    margin-top:20px;
}

.Layout-children-dateAuthor {
    height: 1.25rem;
    font-size: 1rem;
    font-family: SourceSansPro-Bold;
    font-weight: bold;
    color: rgba(106, 121, 124, 1);
    line-height: 1.25rem;
    margin-top: 5px;
}

.home-bg {
    background: url('./assets/background.png') no-repeat center center;
    background-size: 100% 100%;
}

.Header-github {
    background: url('./assets/github.png') no-repeat left center;
    background-size: 30px 30px;
    padding-left: 35px !important;
    font-size:2rem;
}

.doc-ul {
    list-style: none;
    float: left;
}

.doc-ul a {
    color: #ffffff;
    font-size: 2.4rem;
}

.doc-title {
    font-size:2.4rem;
    font-weight:600px;
}

.Header-doc-link {
    background-size:2rem 2rem;
    padding-left: 2.5rem;
    font-size:2.4rem;
}

.body-layout {
    background:#ffffff;
    max-width:980px;
    margin:0 auto;
}

.body-title-container {
    padding-left: 100px;
    padding-top:40px
}

.Header-doc-punica {
    background: url('./assets/punica.png') no-repeat left center;
    background-size:2rem 2rem;
}

.Header-doc-box {
    background: url('./assets/box.png') no-repeat left center;
    background-size:2rem 2rem;

}

.Header-doc-solo {
    background: url('./assets/solo.png') no-repeat left center;
    background-size:2rem 2rem;
}

.line-color-1 {
    background:linear-gradient(90deg, rgba(62, 122, 238, 1) 50%, rgba(251, 251, 251, 1) 100%);
}

.line-color-2 {
    background:linear-gradient(90deg, rgba(233, 132, 246, 1) 0%, rgba(251, 251, 251, 1) 100%);
}

.line-color-3 {
    background:linear-gradient(90deg, rgba(250, 189, 90, 1) 0%, rgba(251, 251, 251, 1) 100%);
}

.line-color-4 {
    background:linear-gradient(90deg, rgba(2, 188, 225, 1) 0%, rgba(251, 251, 251, 1) 100%);
}

.line-color-5 {
    background:linear-gradient(90deg, rgba(151, 91, 229, 1) 0%, rgba(251, 251, 251, 1) 100%);
}