.btn-back {
    display: block;
    width: 7.5rem;
    height: 3.5rem;
    line-height: 3rem;
    background-color: #00D1EA;
    border-radius: 0.13rem;
    font-size: 2rem;
    font-family: SourceSansPro-Semibold;
    font-weight: 600;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 4px 10px;
    text-decoration: none; 
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius:5px;
}

.btn-back:hover {
    background-color: #00D1EA;
    color: #FFFFFF;
    text-decoration: none;
}