.sc-keywords {
    margin-right: 5px;
}

.sc-link {
    color: rgb(17, 176, 230);
}

.sc-list {
    max-width:1440px;
    width:60%;
    min-width: 1200px;
    background: #ffffff;
    padding:20px 40px;
}

.sc-item {
    height:48px;
    line-height: 48px;
}

.sc-item td {
    padding:0 !important;
    height:48px;
    line-height: 48px !important;
}